.addSub-main-container{
    background-color: var(--base-clr);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    color: var(--text-clr);
   
}
.addSub-container{
    width: min(90%, 30rem);
    margin-inline: auto;
   
    /* margin: 3rem auto; */
}
.addSub-container select{
    width: 100%;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
    
}
.addSub-container button{
    margin-left: auto; /* Pushes the button to the right */
    display: block;
    width: 20%;
}
.addSub-inner-container{
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-clr);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 2rem 0;
    text-transform: capitalize;
    
}
.addSub-inner-container ol {
    list-style-type: decimal; /* Ensures that the list items are numbered */
    padding-left: 20px; /* Adds padding to ensure numbers are not too close to the content */
    font-size: 16px; /* Optional: Adjust font size */
    display: flex;
    flex-direction: column;
    gap: .5rem;

}
