.view-students-container{
    background-color: var(--base-clr);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 10px;
}
.view-students-container h2{

    text-align: center;
    color:#4b84b3;
    padding: 1rem 0;

}